@page "/"
@using BlazorApp.Shared

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private WeatherForecast[]? forecasts;

    [Inject]
    public HttpClient HttpClient { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await HttpClient.GetFromJsonAsync<WeatherForecast[]>("weatherforecast");
    }
}
