@page "/"
@using WorkSlack.Components.Chat

<PageTitle>WorkSlack</PageTitle>

<div class="slack-app">
    <Sidebar SelectedChannelId="@_selectedChannelId" OnChannelSelected="HandleChannelSelected" />
    <main class="main-content">
        <ChannelView ChannelId="@_selectedChannelId" />
    </main>
</div>

@code {
    private string _selectedChannelId = "ch-general";

    private void HandleChannelSelected(string channelId)
    {
        _selectedChannelId = channelId;
    }
}
