@page "/"

<PageTitle>Dashboard</PageTitle>

<h1>Camera</h1>

<input type="file" capture="environment" @onchange="OnInputFileChange" />

@code {
    // ReSharper disable once MemberCanBeMadeStatic.Local
    private void OnInputFileChange(ChangeEventArgs args)
    {
    }
}

